!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title BookAuthor
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body 
    %section.hero.is-primary.is-bold
      .hero-head
        %nav.navbar
          .container
            .navbar-brand
        #navbarMenuHeroA.navbar-menu
          .navbar
            %h2.title
              = link_to 'Books', root_path, class: "navbar-item"
            %h1.title
              = link_to "Add New Book", new_book_path, class:"navbar-item"
            %h1.title
              = link_to 'All Author', authors_path, class:"navbar-item"
            %h1.title
              = link_to 'Add New Author', new_author_path, class:"navbar-item"
    %section.hero.is-primary.is-bold.hero-footer
      .container
        .has-text-centered
          %h1.title
            = yield :page_title
    - if notice
      %p.notification.is-success.is-light{:role => "alert"}= notice
    - if alert
      %p.notification.is_danger.is-light{:role => "alert"}= alert
    = yield